<div style="background-color: rgba(240, 240, 241, 0.49);">
  <div class="container">

    <div class="main-text">
      나만의 레시피 공유하기
    </div>

    <div class="sub-text">
      <p>여러분의 에어프라이어 레시피를 공유해주세요.</p>
      <p>누군가에게 만찬을 선사할 수도 있습니다.</p>
    </div>

    <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6 offset-md-3" >

            <div class="row" id="first-form">
              <div class="col-12 col-sm-8">
                <div class="form-group">
                <p>레시피 이름</p>
                <%= form.text_field :title, class: "form-control" %>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="form-group">
                <p>레시피 종류</p>
                <%= form.collection_select :category_id, Category.all, :id, :name, {:include_blank => false}, {class: "form-control"} %>
                </div>
              </div>
            </div>

          <div class="row" id="second-form" style="text-align: center;">
            <div class="col-6">
              <div class="form-group">
              <p>레시피 온도 (도)</p>
              <%= form.number_field :temperature, class: "form-control" %>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
              <p>레시피 시간 (분)</p>
              <%= form.number_field :time, class: "form-control" %>
              </div>
            </div>
          </div>


            <div class="form-group" id="third-form">
              <p>레시피 코멘트</p>
              <%= form.text_area :description, class: "form-control" %>
            </div>


            <div class="form-group" id="nested-ingredirents">
              <p>레시피 재료</p>

              <%= form.nested_fields_for :ingredients do |ingredient| %>
                <%= ingredient.text_field :content, class: "form-control" %>
                <%= ingredient.remove_nested_fields_link '#', data: { confirm: '정말 삭제하시겠습니까?' } do %>
                <i class="far fa-times-circle"></i>
                <% end %>
              <% end %>
              <%= form.add_nested_fields_link :ingredients, "+ 추가하기", class: "form-control" %>
            </div>



              <div class="form-group" id="nested-steps">
                <p>레시피 방법</p>
                <%= form.nested_fields_for :steps do |step| %>
                  <%= step.text_field :direction, class: "form-control" %>
                  <%= step.remove_nested_fields_link '#', data: { confirm: '정말 삭제하시겠습니까?' } do %>
                  <i class="far fa-times-circle"></i>
                  <% end %>
                <% end %>
                <%= form.add_nested_fields_link :steps, "+ 추가하기", class: "form-control" %>
              </div>


      <div class="row" id="forth-form" style="text-align: center;">
        <div class="col-xl-6 col-lg-12">
          <div class="form-group" style="text-align: center;">
            <p>대표 이미지</p>
            <%= form.file_field :image, accept: 'image/png,image/gif,image/jpg', class: "btn btn-primary" %>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div class="form-group" style="text-align: center;">
                <p>추가 이미지</p>
                <%= form.file_field :avatar, accept: 'avatar/png,avatar/gif,avatar/jpg', :multiple => true, name: "post_attachments[avatar][]", class: "btn btn-primary" %>
          </div>
        </div>
      </div>

      <div class="actions" id="action-form" style="text-align: center;margin-bottom: 20px;">
        <%= form.submit "나만의 레시피 공유하기", class: "form-submit-button" %>
      </div>
    <% end %>
      </div> <!-- col-md-6 offset-md-3 -->
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- background-color -->
